/*This is a css code*/

* {
    position:relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position:absolute
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

header {
    position: fixed;
    background-color: pink;
    color: black;
    text-align: center;
    padding: pading-top;
    width: 100%;
    z-index:1;
}

main {
    position:absolute
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

.quiz {
    text-align: center;
}

.question-card {
    border: 1px solid lightblue;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(61, 129, 126);
    border-radius: 5px;
}

.question {
    font-size: 18px;
    margin-bottom: 1rem;
}

.choices {
    margin-bottom: 1rem;
}

.choice {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: white;
    border: 5px solid black;
    margin-bottom: 5px;
    cursor: pointer; /*you can choose this*/
}

.show-answer {
    display: block;
    margin-top: 1rem;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.question-card {
    position: relative; /* To position the bookmarks relative to the question card */
    border: 1px solid lightseagreen;
    padding: 1rem;
    margin-bottom: 15rem;
    margin-top:200px;
    background-color: lightgreen;
    border-radius:7px;
}


    .bookmark {
        position: absolute; 
        width: 50px;
        height: 50px;
        z-index: 0;
        top: 0;
        right: 0;
    }



.categories {
    margin-top: 1rem;
}

.category {
    background-color: white;
    border: 1px solid black;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 5px;
    display: inline-block;
}

.start-button {
    display: inline-block;
    background-color: pink;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: lightgreen;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: pink;
    padding: 15px 0;
}
    
    .footer-links {
        display: flex;
        justify-content:space-around;
        gap: 40px;
    }
    
    .footer-links img {
        max-width: 40px;
        height: auto;
        border: 2px solid black;
        border-radius: 5px; /*define the radius of the element's corners.*/
    }